
body{
    background-color: rgb(104, 104, 104);
    font-family: Arial, Helvetica, sans-serif;    
}
header > h1{ 
    text-align: center;
    font-size:40px;
    margin: 15px;
}
header{
    background-color: white;
    padding: 8px;
    margin: 10px;
    border-radius: 10px;

}
nav{    
    margin: 5px;
    box-shadow: 5px 5px 7px 1px;
    background-color: rgb(59, 59, 59);
    padding: 5px;
    

}
article > aside { color:rgb(0, 0, 0);
    background-color: rgb(177, 185, 196);
    text-align: end;

}
section{
    text-shadow:1px 2px 3px rgb(147, 173, 221);
    color: cornflowerblue;
    font-weight:bold;
    font-size: 23px;
}
nav > a {
    text-decoration: none ;
 color: white;
 font-weight: bold;
 margin-left: 30px;
}
nav > a:hover{ 
    text-decoration: underline;
 }
article > h2 {

    color: rgb(204, 231, 255);
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    text-align: center;
}
article{
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background-color: rgb(70, 68, 68);
}
main{   
    background-color: white;
    padding: 8px;
    margin: 10px;
    margin-bottom: 30px;
    border: 10px;
    box-shadow: 2px 2px 3px rgb(54, 54, 54);
    border-radius: 10px;
}
footer{ background-color: black;
  color: white; 
text-align: center;
padding: 10px
}
footer > p{ margin: 1px;}